@import './variables';

@mixin main-font {
  font-family: $roboto-font;
  font-size: $font-size;
  color: $font-color;
  text-shadow: $text-shadow;
}

@mixin align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin convex($distance, $blur: ($distance * 2), $outline: false) {
  @if ($outline) {
    box-shadow: inset 0 0 0 1px $wrong-value-color,
      (-$distance) (-$distance) $blur $light-shadow,
      ($distance) ($distance) $blur $dark-shadow;
  } @else {
    box-shadow: (-$distance) (-$distance) $blur $light-shadow,
      ($distance) ($distance) $blur $dark-shadow;
  }
}

@mixin concave($distance, $blur: ($distance * 2), $outline: false) {
  @if ($outline) {
    box-shadow: 0 0 0 1px $wrong-value-color,
      inset (-$distance) (-$distance) $blur $light-shadow,
      inset $distance $distance $blur $dark-shadow;
  } @else {
    box-shadow: inset (-$distance) (-$distance) $blur $light-shadow,
      inset $distance $distance $blur $dark-shadow;
  }
}

@mixin bend(
  $distance,
  $blur: ($distance * 2),
  $distance-inset,
  $blur-inset: ($distance-inset * 2)
) {
  box-shadow: (-$distance) (-$distance) $blur $light-shadow,
    $distance $distance $blur $dark-shadow,
    inset (-$distance-inset) (-$distance-inset) $blur-inset $light-shadow,
    inset $distance-inset $distance-inset $blur-inset $dark-shadow;
}
